.vs/ 
.idea/ 
.vscode/ 
*.suo 
*.user 
*.userosscache 
*.sln.docstates 
[Dd]ebug/ 
[Rr]elease/ 
x64/ 
x86/ 
[Bb]in/ 
[Oo]bj/ 
build/ 
*.jar 
*.war 
*.zip 
*.rar 
*.ipch 
__pycache__/ 
*.py[cod] 
*.class 
*.o 
*.obj 
*.exe 
*.out 
*.app 
*.dll 
*.so 
*.dylib 
.DS_Store 
Thumbs.db 
